* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;

}

.navbar {
    display: flex;
    align-items: center ;
    justify-content: space-around;
    background-color: #fff;
}



.navbar_brand{
    width: 100px;
    
    
}

.navbar_logo{
    width: 100%;
}

.nav_item{
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%

    );
    color: #ffff;
    border: none;
    padding: 12px;
    border-radius: 7px;
}

.nav_item:hover{
    border: 2px solid palevioletred;
}

.container{
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.hero_img_container{
    width: 100%;
}



.hero_img{
    width: 100%;
    border-radius: 8px;
    box-shadow:0 25px 50px -12px rgb( 0 0 0/ 25%);
}

.hero_text{
    font-weight: 800;
    font-size: 30px;
    margin: 20px 0;
    color: #1d3557;
    
}


@media (min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 10px 30px;
    }
    .hero_container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 20px;
    }

    .hero_text{
        font-size: 38px;
    }
}

@media(min-width:1024px){
    .container{
        max-wid: 80%;
    }

    .nav_brand{
        width: 150px;
    }
    .nav_item{
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .hero_description{
        width: 100%;

    }
    
    .hero_text{
        font-size: 48px;
    }
}